{
  "cachesDir": "Z:\\caches",
  "checkForNewDeploymentEverySecs": 1800,
  "cleanUpTaskDirs": true,
  "disableReboots": true,
  "downloadsDir": "Z:\\downloads",
  "ed25519SigningKeyLocation": "C:\\generic-worker\\ed25519-private.key",
  "livelogExecutable": "C:\\generic-worker\\livelog.exe",
  "livelogPUTPort": 60022,
  "numberOfTasksToRun": 0,
  "runAfterUserCreation": "C:\\generic-worker\\task-user-init.cmd",
  "sentryProject": "generic-worker",
  "rootURL": "https://firefox-ci-tc.services.mozilla.com",
  "runTasksAsCurrentUser": false,
  "shutdownMachineOnIdle": false,
  "shutdownMachineOnInternalError": false,
  "taskclusterProxyExecutable": "C:\\generic-worker\\taskcluster-proxy.exe",
  "taskclusterProxyPort": 80,
  "tasksDir": "Z:\\",
  "wstAudience": "firefoxcitc",
  "wstServerURL": "https://firefoxci-websocktunnel.services.mozilla.com"
}
